body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin: 0;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    background: linear-gradient(90deg, #38bdf8, #818cf8, #c084fc);
}


button {
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    padding: 14px 32px;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 20px #7c3aed62;
}

button:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 28px #7c3aedc5;
}

#result {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.result-card {
    width: 500px;
    max-width: 100%;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 25px #00000040;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 20px;
}

.result-card h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 18px;
    background: linear-gradient(90deg, #34d399, #10b981);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: #e2e8f0;
    font-size: 17px;
}

table th {
    background: rgba(255, 255, 255, 0.18);
    padding: 12px;
    border-radius: 12px;
    color: #a5f3fc;
    text-shadow: 0 0 8px #38bdf8;
}

table td {
    padding: 12px;
    background: rgba(255, 255, 255, 0.04);
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

.highlight {
    font-size: 22px;
    color: #10b981;
    font-weight: bold;
    margin-top: 12px;
    text-shadow: 0 0 10px #10b981;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 480px) {
    body {
        padding: 20px 10px;
    }

    h1 {
        font-size: 28px;
    }

    button {
        width: 100%;
        padding: 14px 0;
        font-size: 17px;
    }

    .result-card {
        padding: 20px;
    }

    table th,
    table td {
        font-size: 14px;
        padding: 8px;
    }

    .highlight {
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .result-card {
        width: 90%;
    }
}